body{
    background-color: #cccccc;
    background-image:url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  
}
#brand {
    border-radius: 50%;
}
.like{
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #ffffff;
}

.dislike{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #ffffff;
}
#bu1 :hover{
    background-color: #0d6efd;
}
.carousel-item img {
    height: 33rem;
}
.navbar.navbar-dark .navbar-nav .nav-link:hover  {
    color: rgb(0, 0, 0);
}
.icons,
.footer-links {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 20px;
    font-size: large;
    text-align: center;
}
.footer-div ul {
    padding:50px;
}
.icons a {
    text-decoration: none;
    color: white;
}

.footer-links a {
    text-decoration: none;
    color: white;
    cursor: pointer;

}
#logo-about {
    padding: 50px;
    text-align: center;
}
.circular-imge { 
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.circular-imge-footer { 
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
#logo-footer {
    padding: 0px;
    text-align: center;
}

footer {
    color: white;
}
 